{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %} Cambio de Contraseña {% endblock %}

{% block header %}{% endblock %} {# Remplazo el bloque por un vacio para que no cree el header#}

{% block navbar %}
<a class="nav-link" href="{% url 'home-page' %}">Inicio</a>
<a class="nav-link" href="{% url 'pelicula_home_page' %}">Películas</a>
<a class="nav-link" href="{% url 'musica_home_page' %}">Canciones</a>
<a class="nav-link active" aria-current="page"  href="{% url 'perfil' %}">Perfil - Cambiar Contraseña</a>
{% endblock %}

{% block main_content %}
<div class="row justify-content-center">
  <div class="col-4">
    <form method="post">
      {% csrf_token %}

      {% bootstrap_form form %}

      <div class="col-12 text-center">
        {% bootstrap_button button_type="submit" content="Cambiar mi contraseña " %}
      </div>
    </form>
  </div>
</div>
{% endblock %}