{% extends "base.html" %}

{% block title %} Canciones {% endblock %}

{% block header %}{% endblock %} {# Remplazo el bloque por un vacio para que no cree el header#}

{% block navbar %}
<a class="nav-link" aria-current="page" href="{% url 'home-page' %}">Inicio</a>
<a class="nav-link" href="{% url 'pelicula_home_page' %}">Pelicula</a>
<a class="nav-link active" href="{% url 'musica_home_page' %}">Canciones</a>
<a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
{% endblock %}

{% block main_content %}
<div class="row mx-5">
  <div class="col-12">
    <h3>Mostrando las ultimas canciones.</h3>
  </div>
  <div class = "col-12">
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  method="POST">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
      <div class="input-group-append">
        <button class="btn btn-primary align-items-center justify-content-center" type="submit">
          <i class="fas fa-search fa-sm"> x</i>
        </button>
      </div>
    </div>
  </form>
  </div>

  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Artista</th>
          <th scope="col">Genero</th>
          <th scope="col">Album</th>
          <th scope="col">Fecha de Estreno</th>
          <th scope="col">Enlace a hacer review</th>
        </tr>
      </thead>
      {% for cancion in ultimas_canciones %}
      <tr>
        <td><img src={{cancion.url}} style='max-height:120px; max-width:120px; height:auto; width:auto;'></td>
        <td>{{cancion.nombre}}</td>
        <td>{{cancion.artista}}</td>
        <td>{{cancion.genero}}</td>
        <td>{{cancion.album}}</td>
        <td>{{cancion.fecha}}</td>
        <td><a href="{% url 'review_cancion' %}?id={{cancion.id}}">
            Clickeame para hacer una review</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}